/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #dbb0c5;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    
    background-color: rgb(244, 236, 220);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1, h2 {
    text-align: center;
    color: #7062c5;
}
h4 {
    padding-left: 60px;
    margin: 4px;
    color: #7062c5;
}
.note ul{
    padding-left: 90px;
}


/* Input Area */
.input-container {
    margin-bottom: 20px;
    text-align: center;
}

textarea {
    width: 90%;
    padding: 20px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #f5c2d7;
    background-color: #cedaf6;
    resize: vertical;
}
input[type="submit"] {
    background-color: #f78fb3;
    border: none;
    border-radius: 8px;
    color: black;
    padding: 10px 30px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: rgb(149, 111, 173) ;
    
}


/* Output Area */
.output-container {
    margin-top: 20px;
    background-color: rgb(244, 236, 220);
    padding: 10px;
    border-radius: 4px;
}

pre {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff0f5;
    color: black;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #f5c2d7;
    overflow-x: auto;
}

.link {
    fill: none;
    stroke: #977989;
    stroke-width: 2px;
}


#tree{
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    height: 500px;
    border: 1px solid #f5c2d7;
    border-radius: 4px;
    background-color:#fff0f5 ;
    margin-top:20px;
    overflow: auto;
    position: relative;
}

