<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MicroML Parser - AST Display</title>
    <link rel="stylesheet" href="/css/styles.css">

    </head>

    <body>
        <div class="container">
            <h1>MicroML Parser - Abstract Syntax Tree</h1>

            <div class="input-container">
                <textarea id="input" placeholder="Enter MicroMl code here..."rows="10"></textarea>

                <button id="parse-btn">Parse</button>
            </div>

            <div class="output-container">
                <h2>AST Output:</h2>
                <pre id="ast-output"></pre>
            </div>
        </div>

        <scipt src="/js/main.js"></scipt>
    </body>
</html>